body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font-family: 'Jost', sans-serif;
  color: rgb(126, 126, 126);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 180px;
  margin-right: 180px;
}

// text

h1, h2, h3, p {
  font-weight: 300;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1em;
}

.link {
  text-decoration: none;
  color: rgb(126, 126, 126);
}


// Nav component

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 180px;
  margin-right: 180px;

  p {
    font-size: 1em;
    border: 1px solid rgb(214, 196, 168);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    }
}

// Home component all projects
.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  margin-top: 50px;
}

// ProjectCard component

.projectCard {
  max-width: 800px;
  transition: 300ms;
  
  h3 {
    font-size: 1.25em;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  p {
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  }
}

.projectCard:hover {
  opacity: 0.75;
}